# don't commit virtual environments
.venv
venv

# ignore pycache
__pycache__/

# ignore the fully merged dataset
data/all_run_datasets.csv

src/data_collection/dataset

src/data_collection/dataset.zip

src/data_collection/merged_data

src/drone_basics/*.csv

data/imbalanced_80_20_all_runs.zip

data/imbalanced_data_80_20.csv

data/spoof_imbalance_0.07_chance.csv

data/parsed_30_flights_80-20

data/parsed_30_flights_80-20.zip

src/drone_basics/dataset

src/drone_basics/merged_30_runs_80-20.csv

data/merged_30_runs_80-20.csv