# don't commit virtual environments
.venv
venv

# ignore pycache
__pycache__/

# ignore the fully merged dataset
data/all_run_datasets.csv

src/data_collection/dataset

src/data_collection/dataset.zip

src/data_collection/merged_data

data/imbalanced_80_20_all_runs.zip

data/imbalanced_data_80_20.csv

data/spoof_imbalance_0.07_chance.csv